<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Robots</title>
  </head>
  <body>
    <h1>{{header}}</h1>
    <ul>
      {{#objects}}
        <li><a href="{{url}}">{{name}} {{droid}}</a></li>
      {{/objects}}
    </ul>
  </body>
</html>
